<div class="jumbotron center">
<h1>Free Thoughts Here</h1>
<p>Want to think, too? Click here to <%= link_to "sign up!", "#", class: "btn btn-primary btn-lg" %> or here to <%= link_to "log in!", "#", class: "btn btn-primary btn-lg" %></p>
</div>
